In [ ]:
%sql 
select 1